<div class="route-containers">
  {{#each model}}

  <div class="project-image">
    <h2>{{title}} <img {{bind-attr src=status}} class='project-tooltip tooltip' title={{statusText}} style='width:1em;margin-left:.5em'></h2>
    <a {{bind-attr href=url}} target='_blank'><img {{bind-attr src=thumbnail}} alt="Doug"style='width:90%;height:60%'/></a>
  </div>
  <div class="project-description">
    {{description}}
    <br>
    <div class="project-technology">
      Technologies used:
      <br>
      {{#each technology in technologies}}
        <span {{bind-attr style=technology.color}}>
          {{technology.title}}
          <br>
        </span>
      {{/each}}
    </div>

    {{#if features}}
      <br>Users can:
      {{#each feature in features}}
        <li>{{feature}}</li>
      {{/each}}
    {{/if}}

    {{#if administrator}}
      <br>Log in as "d@b.com" with password "1234" for administrative rights to full project
    {{/if}}
  </div>
  <hr style='width:100%;'>
  {{/each}}
</div>
