{{#each model}}
<div class="project-image">
  <h2>{{title}} | <img {{bind-attr src=status}} style='width:1em'></h2>
  <a {{bind-attr href=url}} target='_blank'><img {{bind-attr src=thumbnail}} alt="Doug"style='width:15em'/></a>
</div>
<div class="project-description">
  {{description}}

  <br><br>Users can:
  {{#each feature in features}}
  <li>{{feature}}</li>
  {{/each}}

  <br>Log in as "d@b.com" with password "1234" for administrative rights to full project
</div>
<hr style='width:100%;'>
{{/each}}
